@font-face {
    font-family: "antonio-regular";
    src: url('../assets/fonts/Antonio-Regular.woff');
}

@font-face {
    font-family: "antonio-light";
    src: url('../assets/fonts/Antonio-Light.woff');
}

@font-face {
    font-family: "parisienne";
    src: url("../assets/fonts/parisienne-regular.woff");
}

@font-face {
    font-family: "antic-didone";
    src: url('../assets/fonts/antic-didone-regular.woff');
}